@use "sass:math";
$global-base-font-size: 16px !default;

@function rem($pixels, $context: $global-base-font-size) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return math.div($pixels, $context) * 1rem;
}
