@use 'sass:map';
@use './settings' as *;

@mixin color-shades() {
    $dark-white-lighten-darken: 2, 3, 4, 5, 6, 7, 8, 10, 15, 20, 30, 40, 50, 60, 70, 80;
    $light-darken: 1, 2, 3, 5, 10, 15, 30, 50;
    $info-lighten: 20, 40;

    @each $value in $light-darken {
        --r-color-light-darken-#{$value}: color-mix(in srgb, var(--r-color-light), black #{$value}%);
        --r-color-light-lighten-#{$value}: color-mix(in srgb, var(--r-color-light), white #{$value}%);
    }

    @each $value in $info-lighten {
        --r-color-info-lighten-#{$value}: color-mix(in srgb, var(--r-color-info), white #{$value}%);
    }

    @each $value in $dark-white-lighten-darken {
        --r-color-white-darken-#{$value}: color-mix(in srgb, var(--r-color-white), black #{$value}%);
        --r-color-dark-lighten-#{$value}: color-mix(in srgb, var(--r-color-dark), white #{$value}%);
    }

    --r-color-black-lighten-70: color-mix(in srgb, var(--r-color-black), white 70%);
    --r-color-primary-lighten-80: color-mix(in srgb, var(--r-color-primary), white 80%);
}

@mixin roolith-css-variable() {
    :root {
        /* Colors */
        @each $name, $value in $colors {
            --r-color-#{'' + $name}: #{$value};
        }

        @include color-shades();

        /* Global */
        --r-global-base-font-size: #{$global-base-font-size};
        --r-global-base-font: #{$global-base-font};
        --r-global-font-weight: #{$global-font-weight};
        --r-global-font-bold-weight: #{$global-font-bold-weight};

        --r-global-background-color: var(--r-color-white);
        --r-global-font-color: var(--r-color-dark);
        --r-global-font-color-light: var(--r-color-dark-lighten-20);

        /* Grid */
        --r-global-width: #{$global-width};

        /* Animation */
        --r-animation-easing: #{$animation-easing};
        --r-animation-duration: #{$animation-duration};

        /* Button */
        --r-button-radius: #{$button-radius};
        --r-button-hover-shadow: #{$button-hover-shadow};
        --r-button-hover-shadow-dark: #{$button-hover-shadow-dark};
        --r-button-active-shadow: #{$button-active-shadow};
        --r-button-active-dark-shadow: #{$button-active-dark-shadow};
        --r-button-base-white: var(--r-color-white);
        --r-button-primary-color: var(--r-color-primary);
        --r-button-secondary-color: var(--r-color-secondary);

        /* Button default */
        --r-button-default-background: var(--r-color-white-darken-4);
        --r-button-default-background-end: var(--r-color-white-darken-7);
        --r-button-default-border: var(--r-color-white-darken-15);
        --r-button-default-color: var(--r-color-dark-lighten-20);
        --r-button-default-hover-background: var(--r-color-white-darken-3);
        --r-button-default-hover-background-end: var(--r-color-white-darken-6);
        --r-button-default-hover-border: var(--r-color-white-darken-20);
        --r-button-default-hover-color: var(--r-color-dark-lighten-20);

        /* Nav */
        --r-nav-border-radius: #{$nav-border-radius};
        --r-nav-link-color: var(--r-color-link);
        --r-nav-dimmed-link-color: var(--r-color-black-lighten-70);
        --r-nav-active-link-color: var(--r-color-primary);
        --r-nav-spacing: #{$nav-spacing};
        --r-nav-primary-color: var(--r-color-primary);

        /* Form */
        --r-form-input-placeholder-color: var(--r-color-light-darken-30);
        --r-form-input-background-color: var(--r-color-white);
        --r-form-input-color: var(--r-color-dark);
        --r-form-input-border-color: var(--r-color-light-darken-15);
        --r-form-input-hover-border-color: var(--r-color-link);
        --r-form-input-focus-border-color: var(--r-color-primary);
        --r-form-text-color: var(--r-color-light-darken-30);
        --r-form-input-radius: #{$form-input-radius};
        --r-form-checkbox-label-color: var(--r-color-dark-lighten-20);
        --r-form-disable-input-color: var(--r-color-light-darken-5);
        --r-form-primary-color: var(--r-color-light-darken-2);
        --r-form-primary-border-color: var(--r-color-light-darken-5);
        --r-form-primary-hover-color: var(--r-color-info);
        --r-form-primary-focus-color: var(--r-color-white);
        --r-form-error-color: var(--r-color-danger);
        --r-form-success-color: var(--r-color-success);
        --r-form-warning-color: var(--r-color-info);

        /* Form search */
        --r-form-field-search-hint-background: var(--r-color-light-darken-1);
        --r-form-field-search-hint-border-color: var(--r-color-light-darken-15);
        --r-form-field-search-divider-color: var(--r-color-light-darken-5);
        --r-form-field-search-item-hover-background: var(--r-color-light-darken-3);

        /* Table */
        --r-table-header-border-color: var(--r-color-light-darken-10);
        --r-table-border-color: var(--r-color-light-darken-5);
        --r-table-header-font-weight: var(--r-global-font-bold-weight);
        --r-table-spacing: #{$table-spacing};
        --r-table-row-hover-color: var(--r-color-light-darken-2);
        --r-table-primary-header-color: var(--r-color-light-darken-5);
        --r-table-row-striped-color: var(--r-color-light-darken-2);
        --r-table-row-striped-hover-color: var(--r-color-info-lighten-40);

        /* Img */
        --r-img-radius: #{$img-radius};
        --r-img-caption-color: var(--r-color-dark-lighten-40);

        /* Message */
        --r-message-radius: #{$message-radius};
        --r-message-color-icon-size: #{$message-color-icon-size};

        /* Badge */
        --r-badge-radius: #{$badge-radius};

        /* Breadcrumb */
        --r-breadcrumb-spacing: #{$breadcrumb-spacing};
        --r-breadcrumb-size: #{$breadcrumb-size};
        --r-breadcrumb-default-color: var(--r-color-dark-lighten-40);
        --r-breadcrumb-sep-symbol: #{$breadcrumb-sep-symbol};
        --r-breadcrumb-sep-color: var(--r-color-dark-lighten-70);

        /* Card */
        --r-card-radius: #{$card-radius};
        --r-card-shadow: #{$card-shadow};
        --r-card-header-footer-border: var(--r-color-dark-lighten-80);
        --r-card-header-footer-color: var(--r-color-dark-lighten-40);

        /* Dropdown */
        --r-dropdown-icons-size: #{$dropdown-icons-size};
        --r-dropdown-icons-size-small: #{$dropdown-icons-size-small};
        --r-dropdown-icons-size-large: #{$dropdown-icons-size-large};
        --r-dropdown-width: #{$dropdown-width};
        --r-dropdown-background: var(--r-color-white-darken-2);
        --r-dropdown-border-color: var(--r-color-white-darken-15);
        --r-dropdown-shadow: #{$dropdown-shadow};

        /* Modal */
        --r-modal-background: rgba(var(--r-color-dark), 0.5);
        --r-modal-content-background: var(--r-color-white);
        --r-modal-content-radius: #{$modal-content-radius};
        --r-modal-content-spacing: #{$modal-content-spacing};
        --r-modal-content-shadow: #{$modal-content-shadow};
        --r-modal-border-color: var(--r-color-white-darken-5);

        /* Accordion */
        --r-accordion-border-color: rgba(var(--r-color-dark), 0.1);

        /* Tab */
        --r-tab-active-color: var(--r-color-primary);
        --r-tab-border-color: var(--r-color-light-darken-5);

        /* Box */
        --r-box-spacing: #{$box-spacing};
        --r-box-spacing-small: #{$box-spacing-small};
        --r-box-spacing-large: #{$box-spacing-large};
        --r-box-border-radius: #{$box-border-radius};
        --r-box-background-color: var(--r-color-white);
        --r-box-border-color: var(--r-color-white-darken-10);
        --r-box-header-background: var(--r-color-light);
        --r-box-footer-color: var(--r-color-white-darken-60);

        /* Progress */
        --r-progress-background: var(--r-color-white-darken-5);
        --r-progress-background-shadow: #{$progress-background-shadow};
        --r-progress-bar-color: var(--r-color-white-darken-30);
        --r-progress-bar-radius: #{$progress-bar-radius};

        /* Collage */
        --r-collage-item-default-width: #{$collage-item-default-width};
        --r-collage-item-default-height: #{$collage-item-default-height};
        --r-collage-item-default-gap: #{$collage-item-default-gap};
        --r-collage-item-small-gap: #{$collage-item-small-gap};
        --r-collage-item-large-gap: #{$collage-item-large-gap};
        --r-collage-caption-background: 0, 0, 0;
        --r-collage-caption-color: var(--r-color-white);

        /* Avatar */
        --r-avatar-default-size: #{$avatar-default-size};
        --r-avatar-small-size: #{$avatar-small-size};
        --r-avatar-label-color: var(--r-color-black);
        --r-avatar-label-hover-color: var(--r-color-dark-lighten-20);

        /* Tag */
        --r-tag-color: var(--r-color-primary);
        --r-tag-background: color-mix(in srgb, var(--r-tag-color), white 90%);
        --r-tag-border-color: color-mix(in srgb, var(--r-tag-color), white 30%);
        --r-tag-text-color: var(--r-tag-color);

        /* Comment */
        --r-comment-border: rgba(var(--r-color-dark), 0.1);
        --r-comment-highlight-color: var(--r-color-primary-lighten-80);

        /* Toast */
        --r-toast-notification-width: #{$toast-notification-width};

        /* Loader */
        --r-loader-border-color: var(--r-color-white-darken-20);
        --r-loader-border-top-color: var(--r-color-white-darken-70);

        /* Icon */
        --r-icon-color: var(--r-color-black);
        --r-icon-size: #{$icon-size};
        --r-icon-small-size: #{$icon-small-size};
        --r-icon-large-size: #{$icon-large-size};

        /* Code */
        --r-code-background: var(--r-color-light);
        --r-code-color: var(--r-color-dark-lighten-30);
    }

    .theme-dark {
        --r-theme-color: #{$theme-dark-color};
        --r-global-background-color: var(--r-theme-color);
        --r-global-font-color: color-mix(in srgb, var(--r-theme-color), white 50%);
        --r-global-font-color-light: color-mix(in srgb, var(--r-theme-color), white 70%);

        --r-color-light: #2f3037;

        @include color-shades();

        /* button */
        --r-button-base-white: var(--r-color-white);
        --r-button-primary-color: var(--r-color-primary);
        --r-button-secondary-color: var(--r-color-secondary);

        /* Button default */
        --r-button-default-background: var(--r-color-dark-lighten-4);
        --r-button-default-background-end: var(--r-color-dark-lighten-7);
        --r-button-default-border: var(--r-color-dark-lighten-15);
        --r-button-default-color: var(--r-color-white-darken-20);
        --r-button-default-hover-background: var(--r-color-dark-lighten-3);
        --r-button-default-hover-background-end: var(--r-color-dark-lighten-6);
        --r-button-default-hover-border: var(--r-color-dark-lighten-20);
        --r-button-default-hover-color: var(--r-color-white-darken-20);

        /* Nav */
        --r-nav-link-color: var(--r-color-link);
        --r-nav-dimmed-link-color: var(--r-color-black-lighten-70);
        --r-nav-active-link-color: var(--r-color-primary);
        --r-nav-primary-color: var(--r-color-primary);

        /* Form */
        --r-form-input-placeholder-color: var(--r-color-light-lighten-30);
        --r-form-input-background-color: var(--r-color-dark);
        --r-form-input-color: var(--r-color-white);
        --r-form-input-border-color: var(--r-color-light-lighten-15);
        --r-form-input-hover-border-color: var(--r-color-link);
        --r-form-input-focus-border-color: var(--r-color-primary);
        --r-form-text-color: var(--r-color-light-lighten-30);
        --r-form-checkbox-label-color: var(--r-color-dark-lighten-20);
        --r-form-disable-input-color: var(--r-color-light-lighten-5);
        --r-form-primary-color: var(--r-color-light-lighten-2);
        --r-form-primary-border-color: var(--r-color-light-lighten-5);
        --r-form-primary-hover-color: var(--r-color-info);
        --r-form-primary-focus-color: var(--r-color-white);
        --r-form-error-color: var(--r-color-danger);
        --r-form-success-color: var(--r-color-success);
        --r-form-warning-color: var(--r-color-info);

        /* Form search */
        --r-form-field-search-hint-background: var(--r-color-dark);
        --r-form-field-search-hint-border-color: var(--r-color-dark-lighten-15);
        --r-form-field-search-divider-color: var(--r-color-dark-lighten-2);
        --r-form-field-search-item-hover-background: var(--r-color-dark-lighten-2);

        /* Table */
        --r-table-header-border-color: var(--r-color-light-darken-10);
        --r-table-border-color: var(--r-color-light-darken-5);
        --r-table-row-hover-color: var(--r-color-light-darken-2);
        --r-table-primary-header-color: var(--r-color-light-darken-5);
        --r-table-row-striped-color: var(--r-color-light-darken-2);
        --r-table-row-striped-hover-color: var(--r-color-info-lighten-40);

        /* Img */
        --r-img-caption-color: var(--r-color-dark-lighten-40);

        /* Breadcrumb */
        --r-breadcrumb-default-color: var(--r-color-dark-lighten-40);
        --r-breadcrumb-sep-color: var(--r-color-dark-lighten-70);

        /* Card */
        --r-card-header-footer-border: var(--r-color-dark-lighten-80);
        --r-card-header-footer-color: var(--r-color-dark-lighten-40);

        /* Dropdown */
        --r-dropdown-background: var(--r-color-white-darken-2);
        --r-dropdown-border-color: var(--r-color-white-darken-15);

        /* Modal */
        --r-modal-background: rgba(var(--r-color-dark), 0.5);
        --r-modal-content-background: var(--r-color-white);
        --r-modal-border-color: var(--r-color-white-darken-5);

        /* Accordion */
        --r-accordion-border-color: rgba(var(--r-color-dark), 0.1);

        /* Tab */
        --r-tab-active-color: var(--r-color-primary);
        --r-tab-border-color: var(--r-color-light-darken-5);

        /* Progress */
        --r-progress-background: var(--r-color-white-darken-5);
        --r-progress-bar-color: var(--r-color-white-darken-30);

        /* Collage */
        --r-collage-caption-background: 0, 0, 0;
        --r-collage-caption-color: var(--r-color-white);

        /* Avatar */
        --r-avatar-label-color: var(--r-color-white-darken-10);
        --r-avatar-label-hover-color: var(--r-color-white-darken-20);

        /* Tag */
        --r-tag-color: var(--r-color-dark);
        --r-tag-background: var(--r-color-black);
        --r-tag-border-color: var(--r-color-light);
        --r-tag-text-color: var(--r-color-dark-lighten-50);

        /* Comment */
        --r-comment-border: rgba(var(--r-color-dark), 0.1);
        --r-comment-highlight-color: color-mix(in srgb, var(--r-theme-color), white 10%);

        /* Loader */
        --r-loader-border-color: var(--r-color-dark-lighten-20);
        --r-loader-border-top-color: var(--r-color-dark-lighten-50);

        /* Icon */
        --r-icon-color: var(--r-global-font-color);

        /* Code */
        --r-code-background: var(--r-color-light);
        --r-code-color: var(--r-color-white-darken-30);

        /* Box */
        --r-box-background-color: var(--r-color-dark);
        --r-box-border-color: var(--r-color-dark-lighten-10);
        --r-box-header-background: var(--r-color-light);
        --r-box-footer-color: var(--r-color-dark-lighten-60);
    }
}
