@use 'sass:color';
@use 'sass:map';
@use './function' as *;

/* Global */
$global-base-font-size: 100% !default;
$global-base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif !default;
$global-font-weight: normal !default;
$global-font-bold-weight: bold !default;

/* Breakpoints */
$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
) !default;

/* Grid settings */
$global-width: rem(1200) !default;

$grid-gutter: (
    small: rem(20),
    medium: rem(20),
    large: rem(20),
) !default;

$grid-column-count: 12 !default;
$grid-layout: traditional !default; /* css-grid || traditional */

/* Colors */
$colors: (
    primary: #0099ff,
    secondary: #373459,
    tertiary: #f4751a,
    info: #f8bf16,
    success: #9ecf91,
    danger: #c40000,
    link: #67bcef,
    dark: #212121,
    black: #000000,
    white: #ffffff,
    light: #fafbfc,
) !default;

/* Animation */
$animation-easing: cubic-bezier(1, 0, 0, 1) !default;
$animation-duration: 0.25s !default;

/* button */
$button-radius: rem(2) !default;
$button-hover-shadow: 0 rem(1) rem(1) rgba(0, 0, 0, 0.1) !default;
$button-hover-shadow-dark: 0 rem(1) rem(1) rgba(0, 0, 0, 0.2) !default;
$button-active-shadow: inset 0 0 rem(3) rgba(0, 0, 0, 0.1) !default;
$button-active-dark-shadow: inset 0 0 rem(3) rgba(0, 0, 0, 0.2) !default;

/* nav */
$nav-border-radius: rem(2) !default;
$nav-spacing: rem(13) !default;

/* form */
$form-input-radius: rem(2) !default;

/* table */
$table-spacing: rem(10) !default;

/* img */
$img-radius: rem(2) !default;

/* message */
$message-radius: rem(2) !default;
$message-color-icon-size: rem(18) !default;

/* badge */
$badge-radius: rem(3) !default;

/* breadcrumb */
$breadcrumb-spacing: rem(10) !default;
$breadcrumb-size: 80% !default;
$breadcrumb-sep-symbol: '/' !default;

/* card */
$card-radius: rem(2) !default;
$card-shadow: 0 rem(2) rem(5) 0 rgba(0, 0, 0, 0.08) !default;

/* dropdown */
$dropdown-icons-size: rem(5) !default;
$dropdown-icons-size-small: rem(4) !default;
$dropdown-icons-size-large: rem(7) !default;
$dropdown-width: rem(220) !default;
$dropdown-shadow: 0 rem(2) rem(5) 0 rgba(0, 0, 0, 0.08) !default;

/* modal */
$modal-content-radius: rem(2) !default;
$modal-content-spacing: rem(20) !default;
$modal-content-shadow: 0 rem(5) rem(5) 0 rgba(0, 0, 0, 0.1) !default;
$modal-layout: css-grid !default; /* css-grid || traditional || flex */

/* box */
$box-spacing: rem(20) !default;
$box-spacing-small: rem(15) !default;
$box-spacing-large: rem(30) !default;
$box-border-radius: rem(2) !default;

/* progress */
$progress-background-shadow: 0 rem(2) rem(5) rgba(0, 0, 0, 0.05) inset !default;
$progress-bar-radius: rem(2) !default;

/* collage */
$collage-item-default-width: rem(200) !default;
$collage-item-default-height: rem(200) !default;
$collage-item-default-gap: rem(10) !default;
$collage-item-small-gap: rem(1) !default;
$collage-item-large-gap: rem(20) !default;

/* avatar */
$avatar-default-size: rem(40) !default;
$avatar-small-size: rem(30) !default;

/* toast */
$toast-notification-width: rem(400) !default;

/* icon */
$icon-size: rem(16) !default;
$icon-small-size: rem(14) !default;
$icon-large-size: rem(32) !default;

/* theme dark */
$theme-dark-color: #0d1117 !default;
