/**
 * Settings
 */
$theme-dark-background-color: #232426 !default;
$theme-dark-font-color: #919293 !default;
$theme-dark-font-color-light: #dddede !default;

/**
 * Global
 */
@mixin roolith-theme-dark-global() {
    body {
        &.theme-dark {
            background: $theme-dark-background-color;
            color: $theme-dark-font-color;
        }
    }
}

/**
 * Typography
 */
@mixin roolith-theme-dark-typography() {
    .theme-dark {
        code, kbd {
            background: darken($theme-dark-background-color, 5%);
            border-color: darken($theme-dark-background-color, 7%);
            @include nice-scroll(lighten($theme-dark-background-color, 5%), lighten($theme-dark-background-color, 15%));
        }

        .dimmed {
            color: darken($theme-dark-font-color, 20%);
        }

        blockquote {
            border-color: darken($theme-dark-font-color, 30%);
            color: darken($theme-dark-font-color, 15%);
        }

        hr {
            border-top-color: darken($theme-dark-background-color, 10%);
            border-bottom-color: lighten($theme-dark-background-color, 5%);
        }
    }
}

/**
 * Button
 */
@mixin roolith-theme-dark-button() {
    .theme-dark {
        .button-dark {
            border-color: darken(map-get($colors, dark), 1%);
        }

        .button-outline {
            color: $theme-dark-font-color-light;

            &.button-secondary {
                color: lighten(map-get($colors, secondary), 20%);
                border-color: lighten(map-get($colors, secondary), 20%);
            }

            &.button-dark {
                color: lighten(map-get($colors, dark), 40%);
                border-color: lighten(map-get($colors, dark), 10%);
            }
        }
    }
}

/**
 * Form
 */
@mixin roolith-theme-dark-form() {
    .theme-dark {
        ::placeholder {
            color: lighten($theme-dark-background-color, 20%);
        }

        .form-input {
            background: darken($theme-dark-background-color, 5%);
            border-color: darken($theme-dark-background-color, 7%);
            color: $theme-dark-font-color-light;
        }

        .form-text {
            color: darken($theme-dark-font-color, 15%);
        }

        .form-checkbox-label {
            color: $theme-dark-font-color;
        }

        .form-field-search-icon {
            color: $theme-dark-font-color;
        }

        .form-field-search-hint {
            background-color: darken($theme-dark-background-color, 5%);
            border-color: darken($theme-dark-background-color, 7%);

            @include nice-scroll(lighten($theme-dark-background-color, 5%), lighten($theme-dark-background-color, 15%));

            li {
                border-color: darken($theme-dark-background-color, 7%);

                a {
                    &:hover {
                        background-color: darken($theme-dark-background-color, 3%);
                    }
                }
            }
        }
    }
}

/**
 * Table
 */
@mixin roolith-theme-dark-table() {
    .theme-dark {
        .table {
            thead tr {
                border-color: lighten($theme-dark-background-color, 20%);
            }

            tbody tr {
                border-color: lighten($theme-dark-background-color, 10%);
            }
        }

        .table-bordered {
            border-color: lighten($theme-dark-background-color, 15%);

            th, td {
                border-color: lighten($theme-dark-background-color, 15%);
            }

            tbody tr:hover {
                background-color: lighten($theme-dark-background-color, 10%);
            }
        }

        .table-primary {
            thead tr {
                border-color: darken($theme-dark-background-color, 7%);
            }

            th {
                background-color: darken($theme-dark-background-color, 5%);
            }

            tbody tr {
                &:hover {
                    background-color: darken($theme-dark-background-color, 3%);
                }
            }
        }

        .table-striped {
            tbody tr {
                &:nth-child(even) {
                    background-color: darken($theme-dark-background-color, 2%);
                }

                &:hover {
                    background-color:darken($theme-dark-background-color, 3%);
                }
            }
        }

        .table-responsive {
            @include nice-scroll(lighten($theme-dark-background-color, 5%), lighten($theme-dark-background-color, 15%));
        }
    }
}

/**
 * Message
 */
@mixin roolith-theme-dark-message() {
    .theme-dark {
        .message-secondary-outline {
            border-color: lighten(map-get($colors, secondary), 20%);
            color: lighten(map-get($colors, secondary), 20%);
        }
    }
}

/**
 * Breadcrumb
 */
@mixin roolith-theme-dark-breadcrumb() {
    .theme-dark {
        .breadcrumb-item {
            &:after {
                color: lighten($theme-dark-background-color, 20%);
            }
        }
    }
}

/**
 * Dropdown
 */
@mixin roolith-theme-dark-dropdown() {
    .theme-dark {
        .dropdown-body {
            background: darken($theme-dark-background-color, 5%);
            border-color: darken($theme-dark-background-color, 8%);
        }

        .dropdown-item {
            color: $theme-dark-font-color-light;

            &:hover {
                background: $theme-dark-background-color;
                color: $theme-dark-font-color-light;
            }
        }

        .dropdown-item-sep {
            background: lighten($theme-dark-background-color, 5%);
        }
    }
}

/**
 * Modal
 */
@mixin roolith-theme-dark-modal() {
    .theme-dark {
        .modal {
            background: rgba(map-get($colors, black), 0.7);
        }

        .modal-content {
            background: darken($theme-dark-background-color, 5%);
        }

        .modal-header, .modal-footer {
            border-color: $theme-dark-background-color;
        }

        .modal-close {
            color: $theme-dark-font-color;
        }
    }
}

/**
 * Stat
 */
@mixin roolith-theme-dark-stat() {
    .theme-dark {
        .stat-body {
            color: $theme-dark-font-color-light;
        }
    }
}

/**
 * Accordion
 */
@mixin roolith-theme-dark-accordion() {
    .theme-dark {
        .accordion,
        .accordion-item {
            border-color: lighten($theme-dark-background-color, 5%);
        }

        .active .accordion-item-title {
            color: $theme-dark-font-color-light;
        }
    }
}

/**
 * Tab
 */
@mixin roolith-theme-dark-tab() {
    .theme-dark {
        .tab-list {
            border-color: lighten($theme-dark-background-color, 5%);
        }

        .tab-title:hover {
            background: lighten($theme-dark-background-color, 5%);
        }
    }
}

/**
 * Box
 */
@mixin roolith-theme-dark-box() {
    .theme-dark {
        .box {
            background: darken($theme-dark-background-color, 5%);
            border-color: darken($theme-dark-background-color, 7%);
        }

        .box-header {
            background: darken($theme-dark-background-color, 7%);
            border-color: lighten($theme-dark-background-color, 1%);
        }
    }
}

/**
 * Avatar
 */
@mixin roolith-theme-dark-avatar() {
    .theme-dark {
        .avatar-label {
            color: $theme-dark-font-color-light;

            &:hover {
                color: $theme-dark-font-color;
            }
        }
    }
}

/**
 * Tag
 */
@mixin roolith-theme-dark-tag() {
    .theme-dark {
        .tag {
            background: darken($theme-dark-background-color, 5%);
            border-color: darken($theme-dark-background-color, 7%);
            color: $theme-dark-font-color;
        }

        .tag-close {
            border-color: darken($theme-dark-font-color, 40%);
            color: darken($theme-dark-font-color, 20%);
        }
    }
}

/**
 * Comment
 */
@mixin roolith-theme-dark-comment() {
    .theme-dark {
        .comment-highlight {
            background: darken($theme-dark-background-color, 3%);
        }
    }
}


@mixin roolith-theme-dark() {
    @include roolith-theme-dark-global();
    @include roolith-theme-dark-typography();
    @include roolith-theme-dark-button();
    @include roolith-theme-dark-form();
    @include roolith-theme-dark-table();
    @include roolith-theme-dark-message();
    @include roolith-theme-dark-breadcrumb();
    @include roolith-theme-dark-dropdown();
    @include roolith-theme-dark-modal();
    @include roolith-theme-dark-stat();
    @include roolith-theme-dark-accordion();
    @include roolith-theme-dark-tab();
    @include roolith-theme-dark-box();
    @include roolith-theme-dark-avatar();
    @include roolith-theme-dark-tag();
    @include roolith-theme-dark-comment();
}
