{
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "semi": true,
    "printWidth": 120,
    "bracketSameLine": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "ignore"
}
