@use '../function' as *;
@use '../mixin';

@mixin roolith-block-header() {
    .block-header {
        padding-bottom: rem(20);
    }

    .block-header-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: rem(20);
        padding-top: rem(10);

        @include mixin.breakpoint(medium-up) {
            justify-content: space-between;
            flex-direction: row;
        }
    }

    .action-menu-label {
        user-select: none;
    }
}
