@use "sass:math";

@mixin loader($size: 20) {
    display: inline-block;
    border-radius: 50%;
    border: rem(2) solid darken(map-get($colors, white), 20%);
    border-top-color: darken(map-get($colors, white), 70%);
    animation: loading 0.6s linear infinite;
    width: rem($size);
    height: rem($size);
    margin-top: rem(-(math.div($size, 2)));
    margin-left: rem(-(math.div($size, 2)));
}
