@use 'sass:math';
@use '../function' as *;

@mixin loader($size: 20) {
    display: inline-block;
    border-radius: 50%;
    border: rem(2) solid var(--r-loader-border-color);
    border-top-color: var(--r-loader-border-top-color);
    animation: loading 0.6s linear infinite;
    width: rem($size);
    height: rem($size);
    margin-top: rem(-(math.div($size, 2)));
    margin-left: rem(-(math.div($size, 2)));
}
