@use '../function' as *;
@use '../mixin';
@use '../settings';
@use 'sass:color';

@mixin roolith-badge() {
    .badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem(4) rem(5) rem(2);
        background: var(--r-badge-background);
        color: var(--r-badge-color);
        border-radius: var(--r-badge-radius);
        font-size: rem(11);
        line-height: 1;
        text-transform: uppercase;
    }

    @each $name, $value in settings.$colors {
        @if ($name != white) {
            .badge-#{'' + $name} {
                background: var(--r-color-#{$name});
                background: linear-gradient(
                    to bottom,
                    color-lighten(var(--r-color-#{$name}), 5%) 0%,
                    var(--r-color-#{$name}) 100%
                );
                color: var(--r-color-white);
            }
        }
    }
}
