@use '../function' as *;
@use '../mixin';
@use '../settings';
@use 'sass:color';

@mixin roolith-badge() {
    .badge {
        display: inline-block;
        font-size: 75%;
        padding: rem(2) rem(5) rem(3);
        background: var(--r-color-white-darken-5);
        color: var(--r-color-white-darken-50);
        border-radius: var(--r-badge-radius);
        line-height: 1;
    }

    @each $name, $value in settings.$colors {
        @if ($name != white) {
            .badge-#{'' + $name} {
                background: $value;
                background: linear-gradient(to bottom, color.adjust($value, $lightness: 5%) 0%, $value 100%);
                color: var(--r-color-white);
            }
        }
    }
}
