$box-spacing: rem(20) !default;
$box-spacing-small: rem(15) !default;
$box-spacing-large: rem(30) !default;
$box-border-radius: rem(2) !default;

@mixin roolith-box() {

    .box {
        margin: rem(20) 0;
        border: rem(1) solid darken(map-get($colors, white), 10%);
        border-radius: $box-border-radius;
        background: map-get($colors, white);
    }

    .box-header,
    .box-body,
    .box-footer {
        padding: ($box-spacing - rem(5)) $box-spacing;
    }

    .box-header {
        background: #f9f9f9;
        border-bottom: rem(1) solid darken(map-get($colors, white), 10%);
        font-size: rem(14);
        line-height: rem(18);
        font-weight: $global-font-bold-weight;
    }

    .box-body {
        font-size: rem(14);
        line-height: rem(22);
    }

    .box-footer {
        color: darken(map-get($colors, white), 60%);
        padding-top: 0;
        font-size: 80%;
    }

    .box-small {
        .box-header,
        .box-body,
        .box-footer {
            padding: ($box-spacing-small - rem(6)) $box-spacing-small;
        }

        .box-header,
        .box-footer {
            font-size: rem(12);
            line-height: rem(16);
        }

        .box-footer {
            padding-top: 0;
        }

        .box-body {
            font-size: rem(12);
            line-height: rem(18);
        }
    }

    .box-large {
        .box-header,
        .box-body,
        .box-footer {
            padding: ($box-spacing-large - rem(10)) $box-spacing-large;
        }

        .box-header,
        .box-footer {
            font-size: rem(16);
            line-height: rem(20);
        }

        .box-footer {
            padding-top: 0;
        }

        .box-body {
            font-size: rem(16);
            line-height: rem(26);
        }
    }


    @each $name, $value in $colors {
        @if($name != white)
        {
            .box-#{$name} {
                border: rem(1) solid darken($value, 5%);

                .box-body {
                    color: darken($value, 10%);
                }

                .box-header {
                    background: $value;
                    background: linear-gradient(to bottom, lighten($value, 5%) 0%, $value 100%);
                    color: map-get($colors, white);
                    border-color: darken($value, 5%);
                }

                .box-footer {
                    border-top: none;
                    padding-top: 0;
                    font-size: 80%;
                    color: lighten($value, 25%);
                }
            }
        }
    }

}
