$breadcrumb-spacing: rem(10) !default;
$breadcrumb-size: 80% !default;
$breadcrumb-default-color: lighten(map-get($colors, dark), 40%) !default;
$breadcrumb-sep-symbol: "/" !default;
$breadcrumb-sep-color: lighten(map-get($colors, dark), 70%) !default;

@mixin roolith-breadcrumb() {
    .breadcrumb {
        font-size: $breadcrumb-size;
        color: $breadcrumb-default-color;
        padding: rem(15) 0;
        @include clearfix();
    }

    .breadcrumb-item {
        float: left;

        &:after {
            display: inline-block;
            content: $breadcrumb-sep-symbol;
            margin: 0 $breadcrumb-spacing;
            color: $breadcrumb-sep-color;
        }

        &:last-child:after {
            content: none;
            margin: 0;
        }
    }
}
