$button-radius: rem(2) !default;
$button-hover-shadow: 0 rem(1) rem(1) rgba(0, 0, 0, 0.1) !default;
$button-hover-shadow-dark: 0 rem(1) rem(1) rgba(0, 0, 0, 0.2) !default;
$button-active-shadow: inset 0 0 rem(3) rgba(0, 0, 0, 0.1) !default;
$button-active-dark-shadow: inset 0 0 rem(3) rgba(0, 0, 0, 0.2) !default;
$button-base-white: #ffffff !default;
$button-primary-color: map-get($colors, primary) !default;
$button-secondary-color: map-get($colors, secondary) !default;

@mixin roolith-button() {
    .button {
        display: inline-block;
        font-family: $global-base-font;
        text-decoration: none;
        cursor: pointer;
        background-color: darken($button-base-white, 4%);
        background: linear-gradient(to bottom, darken($button-base-white, 4%) 0%, darken($button-base-white, 7%) 100%);
        border: rem(1) solid darken($button-base-white, 15%);
        border-radius: $button-radius;
        font-size: rem(14);
        line-height: rem(35);
        min-width: rem(60);
        height: rem(35);
        padding: 0 rem(20);
        color: lighten(map-get($colors, 'dark'), 20%);
        @include transition('background, color, box-shadow');

        &:hover {
            background-color: darken($button-base-white, 6%);
            background: linear-gradient(to bottom, darken($button-base-white, 3%) 0%, darken($button-base-white, 6%) 100%);
            border: rem(1) solid darken($button-base-white, 20%);
            box-shadow: $button-hover-shadow;
            color: lighten(map-get($colors, 'dark'), 20%);
        }

        &.active {
            box-shadow: $button-active-shadow;
        }

        &.button-outline {
            background: transparent;
        }

        &.disabled {
            @include opacity(0.6);
            cursor: not-allowed;
            pointer-event: none;

            &:hover {
                box-shadow: none;
            }
        }
    }

    .button-small {
        font-size: rem(12);
        line-height: rem(25);
        min-width: rem(50);
        height: rem(25);
        padding: 0 rem(10);
    }

    .button-medium {
        font-size: rem(12);
        line-height: rem(30);
        min-width: rem(50);
        height: rem(30);
        padding: 0 rem(12);
    }

    .button-large {
        font-size: rem(16);
        line-height: rem(45);
        min-width: rem(80);
        height: rem(45);
        padding: 0 rem(30);
    }

    .button-rounded {
        border-radius: rem(25);
        padding: 0 rem(25);

        &.button-small {
            padding: 0 rem(15);
        }

        &.button-medium {
            padding: 0 rem(17);
        }

        &.button-large {
            padding: 0 rem(35);
        }
    }

    @each $name, $value in $colors {
        @if($name != white)
        {
            .button-#{$name} {
                background: $value;
                background: linear-gradient(to bottom, lighten($value, 5%) 0%, $value 100%);
                color: map-get($colors, white);
                border: rem(1) solid darken($value, 5%);

                &:hover {
                    background: lighten($value, 3%);
                    background: linear-gradient(to bottom, lighten($value, 7%) 0%, lighten($value, 3%) 100%);
                    border: rem(1) solid $value;
                    box-shadow: $button-hover-shadow-dark;
                    color: map-get($colors, white);
                }

                &.active {
                    box-shadow: $button-active-dark-shadow;
                }

                &.button-outline {
                    background: transparent;
                    color: $value;

                    &:hover {
                        background: lighten($value, 3%);
                        color: map-get($colors, white);
                    }
                }
            }
        }
    }

    .button-group {
        @include clearfix();

        .button {
            float: left;
            border-radius: 0;
            margin-right: rem(-1);
            min-width: auto;

            &:first-child {
                @include border-left-radius($button-radius);
                @include border-top-radius($button-radius);
            }

            &:last-child {
                @include border-right-radius($button-radius);
                @include border-bottom-radius($button-radius);
            }
        }
    }

}
