$message-radius: rem(2) !default;
$message-color-icon-size: rem(18) !default;

@mixin roolith-message() {
    .message {
        font-size: rem(14);
        line-height: rem(18);
        padding: rem(17) rem(20);
        border-radius: $message-radius;
        margin-top: rem(10);
        margin-bottom: rem(10);
        background: darken(map-get($colors, light), 2%);
        position: relative;
        text-align: left;
    }

    .message-extra-pad {
        padding: rem(27) rem(30);
    }

    .message-close {
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(30%, -30%);
        display: inline-block;
        border: none;
        text-align: center;
        font-size: rem(10);
        line-height: $message-color-icon-size;
        width: $message-color-icon-size;
        height: $message-color-icon-size;
        padding: 0 0 0 rem(1);
        z-index: 2;
        cursor: pointer;
        border-radius: 50%;
        background: darken(map-get($colors, light), 10%);
        color: map-get($colors, dark);
    }

    @each $name, $value in $colors {
        @if($name != white)
        {
            .message-#{$name} {
                background: $value;
                background: linear-gradient(to bottom, lighten($value, 5%) 0%, $value 100%);
                color: map-get($colors, white);

                .message-close {
                    background: darken($value, 10%);
                    color: map-get($colors, white);
                }
            }
        }
    }

    @each $name, $value in $colors {
        @if($name != white)
        {
            .message-#{$name}-outline {
                background: transparent;
                color: $value;
                border: rem(1) solid $value;
                padding: rem(14) rem(17);
            }
        }
    }
}
