@mixin roolith-stat() {
    .stat {
        text-align: center;
        padding: rem(15) 0;
    }

    .stat-header {
        display: block;
        font-size: rem(12);
        padding-bottom: rem(7);
        color: lighten(map-get($colors, dark), 20%);
    }

    .stat-body {
        display: block;
        font-size: rem(32);
        font-weight: $global-font-bold-weight;
    }

    .stat-footer {
        display: block;
        font-size: rem(12);
        padding-top: rem(10);
        color: lighten(map-get($colors, dark), 40%);
    }
}
