@use '../function' as *;
@use '../mixin';

@mixin roolith-tag() {
    .tag {
        font-size: rem(12);
        line-height: 1em;
        display: inline-block;
        background: color-mix(in srgb, var(--r-tag-color), white 45%);
        border: rem(1) solid color-mix(in srgb, var(--r-tag-color), white 30%);
        color: var(--r-tag-color);
        padding: rem(4) rem(10);
        border-radius: rem(25);
    }

    .tag-close {
        display: inline-block;
        border-left: rem(1) solid color-mix(in srgb, var(--r-tag-color), white 35%);
        padding: 0 0 0 rem(5);
        margin: 0 0 0 rem(5);
        cursor: pointer;
        @include mixin.transition('opacity');

        &:hover {
            opacity: 0.7;
        }
    }

    .tags {
        padding: rem(10) 0 0;
    }

}
